.add-player-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 50%;
  margin: 0px 50px;
  color: black;
  background-color: transparent;
  font-size: 48px;
}

.add-player-button:hover {
  color: gray;
  border-color: gray;
}