@media (orientation: landscape) {
  .game-info {
    /* making circle */
    aspect-ratio: 1 / 1;
    height: 60%;
  }
}

@media (orientation: portrait) {
  .game-info {
    /* making circle */
    aspect-ratio: 1 / 1;
    width: 60%;
  }
}

.game-info {
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.game-info>h2 {
  display: none;
}

.pot,
.big-blind {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: xx-large;
}

.pot>h3,
.big-blind>h3,
.card-graphic>h3 {
  display: none;
}

.pot>p,
.big-blind>p {
  margin: 0;
  padding: 0;
}

.pot>p::before {
  content: "💰: "
}

.big-blind>p::before {
  content: "🪙: "
}