.game-info {
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 350px;
  min-height: 350px;
  z-index: 2;
}

.game-info h3,
.game-info h2 {
  display: none;
}

.game-info p {
  margin: 0;
  margin-top: 5px;
  cursor: default;
}

.pot {
  font-size: 3em;
}

.big-blind {
  font-size: 1.5em;
}

@media (max-width: 800px) {
  .game-info {
    width: 250px;
    height: 250px;
    min-height: 250px;
  }

  .pot {
    font-size: 2em;
  }

  .big-blind {
    font-size: 1em;
  }
}