.player {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-1);
  color: lightgray;
  border-radius: 10px;
  margin: 5px;
  width: 100%;
  height: 100%;
}

.turn {
  background-color: var(--background-3);
}

.out {
  opacity: 0.5;
}

.dealer-button {
  position: absolute;
  top: -20px;
  border-radius: 50%;
  background-color: var(--background-3);
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.player-list-left .dealer-button {
  right: -20px;
}

.player-list-right .dealer-button {
  left: -20px;
}


.player h4,
.player p {
  margin: 5px;
  padding: 0;
  text-align: center;
}