.players {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.player-list-left,
.player-list-right {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid red;
}

.player-list-left {
  left: 0;
  align-items: flex-start
}

.player-list-right {
  right: 0;
  align-items: flex-end;
}

.players h2 {
  display: none;
}