.card-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  gap: 5px;
  margin: 0;
  padding: 0;
}

.card {
  width: 4rem;
  height: 6rem;
  border: 1px solid black;
  border-radius: 5px;
}

.open {
  background-color: black;
}

.hidden {
  background-color: white;
}