.card-list {
  margin: 20px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.card {
  /* size */
  width: 40px;
  height: 60px;
  margin: 5px;
  border: 3px solid white !important;
  border-radius: 5px;
  box-shadow: -5px 5px 5px black;
}

.hidden {
  background: repeating-linear-gradient(45deg,
      blue,
      blue 5px,
      navy 5px,
      navy 10px);
}

.open {
  background: repeating-linear-gradient(45deg,
      red,
      red 5px,
      darkred 5px,
      darkred 10px);
}